@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,devanagari);


body {
  font-family: Montserrat, 'Noto Sans', sans-serif;
  color: #333;
  background: #666666;
  margin: 0px;
}


a, a:hover, a:focus .a {
	cursor: pointer;
	color: #777;
	text-decoration: none;
}


::selection { /* WebKit/Blink Browsers */
	color: #424242;
	background: #bdbdbd;
}

::-moz-selection { /* Gecko Browsers */
	color: #fff;
	background: #FF0000;
}



.container {
	width: auto;
	min-width: 300px;
	max-width: 1200px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

.paper {
  padding: 16px;
  margin: 16px 5px 16px 5px;
  background-color: #fff;
  color: #555;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 1000px;
  min-height: 800px;
}



button.yellow {
	color: black;
	background: yellow;
}

button.green {^M
  color: white;^M
  background: #5cb85c^M
}


@media (min-width: 768px) {
  .modal-login {
     width: 400px;
  }
}
