/* Color Palette :: Primary */

.primary-500 {
	color: white;
	background: red;
}

.primary-500 a, .primary-500 a:hover, .primary-500 a:focus, .primary-500 .a {
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.primary-500 ::selection { /* WebKit/Blink Browsers */
	color: #ff0000;
	background: #ffffff;
}

.primary-500 ::-moz-selection { /* Gecko Browsers */
	color: #ff0000;
	background: #ffffff;
}



/* Color Palette :: Secondary */

.secondary-500 {
	color: #333333;
	background-color: white;
}

.secondary-500 .badge {
	color: #333;
	background-color: #eee;
}