/.google_apis
/test-classes
/gwt-unitCache
/war/WEB-INF/appengine-generated
/war/WEB-INF/classes
/war/WEB-INF/deploy
/war/WEB-INF/lib
/war/WEB-INF/PratilipiDevo-a987225aa0b1.p12
/war/pagecontent.blog
/war/pagecontent.blogpost
/war/pagecontent.roleaccess
/war/pagecontent.pratilipi
/war/pagecontent.pratilipi.witheditoptions
/war/pagecontent.pratilipis
/war/pagecontent.reader
/war/pagecontent.author
/war/pagecontent.author.witheditoptions
/war/pagecontent.authors
/war/pagecontent.languages
/war/pagecontent.genres
/war/pagecontent.managepublishers
/war/pagecontent.homepagecontent
/war/pagecontent.invitepage
/war/pagecontent.userforms