/test-classes
/gwt-unitCache
/war/WEB-INF/appengine-generated
/war/WEB-INF/classes
/war/WEB-INF/deploy
/war/WEB-INF/lib
/war/pagecontent_bookdatainput
/war/pagecontent_booklist
/war/pagecontent.managelanguages
/war/pagecontent.manageauthors
