@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,devanagari);


body {
	font-family: Montserrat, 'Noto Sans', sans-serif;
	color: #333;
	background: rgba(199,178,153,0.35);
	margin: 0px;
}


.container {
	width: auto;
	min-width: 300px;
	max-width: 1200px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}


.paper {
	padding: 16px;
	margin: 16px 5px 16px 5px;
	background-color: #fff;
	color: #555;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 100%;
	max-width: 1000px;
	min-height: 800px;
}


.popup {
	width: 325px;
	background: white;
}

.popup .popup-heading {
	margin: 0px;
	padding: 15px 20px;
	color: #777;
	background: #eee;
}

.popup .popup-body {
	padding: 20px;
}

.popup button {
	padding: 5px 30px;
	border-radius: 0px;
	color: white;
	background: rgb(0,146,69);
}



/* Color Palette :: Primary */

.primary-500 {
	color: white;
	background: red;
}

.primary-500 button {
	color: black;
	background: yellow;
}

.primary-500 a, .primary-500 a:hover, .primary-500 a:focus {
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.primary-500 ::selection { /* WebKit/Blink Browsers */
	color: #ff0000;
	background: #ffffff;
}

.primary-500 ::-moz-selection { /* Gecko Browsers */
	color: #ff0000;
	background: #ffffff;
}



/* Color Palette :: Secondary */

.secondary-500 {
	color: #333;
	background-color: white;
}

.secondary-500 h1, .secondary-500 h2, .secondary-500 h3, .secondary-500 h4 {
	color: #4D4D4D;
	font-weight: 700;
	margin: 5px 0px 10px 0px;
}

.secondary-500 hr {
	border: 0;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.secondary-500 button {
	border-radius: 0px;
	color: white;
	background: #009245;
}

.secondary-500 .badge {
	color: #333;
	background-color: #eee;
}

.secondary-500 ::selection { /* WebKit/Blink Browsers */
	color: #424242;
	background: #bdbdbd;
}

.secondary-500 ::-moz-selection { /* Gecko Browsers */
	color: #424242;
	background: #bdbdbd;
}



/* Custom Overrides */

a.blue, a.blue:hover, a.blue:focus,
button.blue, button.blue:hover, button.blue:focus {
	color: white;
	background: #0071BC;
}
