body {
	font-family: inherit;
	background: #f5f5f5;
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-size: 14px;
	line-height: 24px;
}

.parent-container {
	width: 100%;
	padding: 0px 5px;
	margin: 0;
	padding-top: 80px;
}

.container {
	width: auto;
	max-width: 680px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 25px;
	margin: 0px;
	margin-bottom: 10px;
}

h2 {
	font-size: 22px;
	margin: 0px;
	margin-bottom: 8px;
}

h3 {
	font-size: 20px;
	margin: 0px;
	margin-bottom: 7px;
}

h4 {
	font-size: 18px;
	margin: 0px;
	margin-bottom: 6px;
}

h5 {
	font-size: 17px;
	margin: 0px;
	margin-bottom: 6px;
}

h6 {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 6px;
}

hr {
	background-color: #888888;
	border-width: 1px 0px 0px 0px;
	border-style: ridge;
	margin-top: 10px;
	margin-bottom: 10px;
}

a, a:hover, a:focus {
	color: #333;
	text-decoration: none;
	font-size: 14px;
}

p {
	line-height: 21px;
	text-align: justify;
}

span {
	font-size: 13px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr td {
	padding: 0px;
	vertical-align: top;
}

.box {
	padding: 10px 15px;
	margin-top: 5px;
}

.secondary-500 {
	color: #333;
	background-color: #FFF;
}

.text-center {
	text-align: center;
}

.div-center {
	margin: 0 auto;
}

.margin-top-bottom {
	margin: 5px auto;
}

.two-cols {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

.three-cols {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}

/* Header */
.search-button {
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	cursor: pointer;
	color: white;
}

/* Footer */
.link:link, .link:visited, .link:hover, .link:active {
	font-size: 16px;
	color: #333;
	line-height: 36px;
	white-space: nowrap;
	text-decoration: none;
}

.img-circle {
	width: 48px;
	height: 48px;
	margin: 10px;
	border-radius: 50%;
}

/* Branding */
.pratilipi-red, a.pratilipi-red:hover, a.pratilipi-red:focus {
	color: #D0021B !important;
	text-decoration: none !important;
}

.pratilipi-blue, a.pratilipi-blue:hover, a.pratilipi-blue:focus {
	color: #107FE5 !important;
	text-decoration: none !important;
}

.pratilipi-red-background-button:hover {
	color: #ffffff !important;
	text-decoration: none !important;
}

.pratilipi-shadow {
	border-top: 1px solid #DDD;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
}

.pratilipi-light-blue-button {
	background: #F1F8FB;
	border: 1px solid #0C68BD;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
	font-size: 13px;
	color: #0C68BD;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	margin-right: 10px;
	magin-top: 5px;
	outline: none;
}

.pratilipi-red-button {
	background: #FFFFFF;
	border: 1px solid #d0021b;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
	font-size: 13px;
	color: #d0021b;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	magin-top: 5px;
	outline: none;
}

.pratilipi-red-background-button {
	background: #d0021b;
	border: 1px solid #d0021b;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
	font-size: 13px;
	color: #ffffff;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	magin-top: 5px;
	outline: none;
}

a.pratilipi-light-blue-button:hover, a.pratilipi-light-blue-button:focus
	{
	color: #0C68BD;
	text-decoration: none;
	font-size: 13px;
}

a.pratilipi-red-button:hover, a.pratilipi-red-button:focus
	{
	color: #d0021b;
	text-decoration: none;
	font-size: 13px;
}

.pratilipi-grey-button {
	/* Dashboard Button */
	background: #E5E5E5;
	border: 1px solid #979797;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
	font-size: 13px;
	color: #4A4A4A;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	margin-right: 10px;
	margin-top: 5px;
	outline: none;
}

a.pratilipi-grey-button:hover, a.pratilipi-grey-button:focus {
	color: #4A4A4A;
	text-decoration: none;
	font-size: 13px;
}

.pratilipi-new-blue-button {
	background: #F0F8FF;
	background-image: -webkit-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -moz-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -ms-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -o-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: linear-gradient(to bottom, #F0F8FF, #F0FFFF);
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 1px;
	min-width: 80px;
	color: #107FE5;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 12px;
	margin-top: 5px;
	border: solid #107FE5 1px;
	outline: none;
	text-decoration: none;
	text-align: center;
}

a.pratilipi-new-blue-button:hover, a.pratilipi-new-blue-button:focus {
	color: #107FE5;
	text-decoration: none;
	font-size: 13px;
}

.pratilipi-dark-blue-button {
	background-color: #107FE5;
	height: 40px;
	padding: 10px;
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 0.3px;
	text-align: center;
	min-width: 80px;
	width: auto;
	font-weight: 300;
	line-height: 20px;
	display: inline-block;
	outline: none;
}

a.pratilipi-dark-blue-button:hover, a.pratilipi-dark-blue-button:focus {
	color: #ffffff;
	font-size: 13px;
}

.cover-image {
	height: 325px;
	border-radius: 0;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.edit-profile {
	position: relative;
	top: 16px;
	right: 10px;
}

.numbers {
	font-size: 20px;
	font-weight: 500;
}
.my-account {
	position: relative;
	top: 16px;
	right: 80px;	
}

.share-author {
	position: relative;
	top: 16px;
	right: -60px;
}

.profile-picture {
	width: 140px;
	height: 140px;
	padding: 2px;
	margin-top: 30px;
	border: none;
	background-color: transparent;
}

.author-name {
	/*margin: 12px auto;*/
	display: block;
	color: #fbfbfb;
	font-size: 25px;
	font-weight: 700;
	text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.50);
	letter-spacing: 1.13px;
}

.follow-author {
	text-align: center;
}

.follow-author a.pratilipi-red-button {
	margin: 0 auto;
	border-radius: 5px;
	font-weight: 400;
	white-space: nowrap;
	font-size: 15px;
	color: #d0021b;
	padding: 9px;
	border: 1px #d0021b solid;
	margin-top: 10px;
}

.follow-author button.pratilipi-red-button {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	font-weight: 400;
	white-space: nowrap;
	font-size: 15px;
	color: #d0021b;
	padding: 9px;
	border: 1px #d0021b solid;
	margin-top: 10px;
}

.follow-author button.pratilipi-grey-button, .follow-author a.pratilipi-grey-button
	{
	background: #E5E5E5;
	border: 1px solid #979797;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
	color: #4A4A4A;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: block;
	padding: 9px;
	margin: 0 auto;
	margin-top: 10px;
	outline: none;
}

.pratilipi-author-stat {
	padding: 0px;	
}

.pratilipi-author-stat span {
	font-size: 15px;
}

.pratilipi-no-padding {
	padding: 0px;
}

.active>.nav-tab-red-underline {
	text-decoration: none;
	font-weight: bold;
	border-radius: 0px;
	border-bottom-width: 4px !important;
	border-bottom-style: solid;
	border-bottom-color: #D0021B !important;
	color: #000 !important;
	background-color: transparent !important;
}

.pratilipi-bold {
	font-weight: bold;
}

.pratilipi-no-margin {
	margin-bottom: 0px;
}

.pratilipi-without-margin {
	margin: 0px;
}

.pratilipi-padding-7 {
	padding: 7px;
}
.pratilipi-padding-15 {
	padding: 15px;
}

.pratilipi-font-size-15 {
	font-size: 15px;
}
.pratilipi-font-size-14 {
	font-size: 14px;
}

.works-number {
	font-size: 15px;
	color: grey;
	margin: 0px;
}

.media span {
	margin: 5px;
}

.media button {
	margin: 5px;
}

.pratilipi-light-blue-button-with-margin {
	margin: 0 auto;
	border-radius: 5px;
	font-weight: 400;
	font-size: 15px;
	color: Blue;
	padding: 5px;
	border: 1px blue solid;
	margin-top: 20px !important;
}

.pratilipi-view-more-link {
	margin-top: 5px;
	font-size: 15px;
}

.clip-content-2-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.clip-content-1-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
}

.glyph-white-background {
	background-color: #eee;
	border-radius: 50%;
}	
.badge-circle {
	padding: 7px 7px;
}
.bigger-line-height {
	line-height: 1.5;
}
.align-to-bottom {
	position: absolute;
	bottom: 0px;
	padding-left: 10px;
}
.pratilipi-card-heading {
	padding-left: 4px;
}
.menu-item {
	margin:32px 16px;
	display: block;
	text-align: left;
}
.menu-item img {
	margin-right: 12px;
	width: 20px;
	height: 20px;
}
.menu-item span {
	font-size: 14px;
}
a:hover {
  cursor:pointer;
 }
.pratilipi-card-mini-button {
 	margin: 2px !important;
 	padding: 5px !important;
}
.pratilipi-icon {
	 max-width: 52px;
	 max-height: 42px;
	 position: absolute;
	 left: 20%;
	 top: 0;
	 right: 0;
	 bottom: 0;
}
.pratilipi-padding-10 {
	padding: 10px;
}
.width-16 {
	width:16px;
	height:16px;
}
.pratilipi-margin-top-2 {
	margin-top: 2px;
}
.pratilipi-new-header {
	position: fixed;
	z-index: 10;
	width: 100%;
	display: block;
	border-bottom: 1px solid #d3d3d3;
}
.followers-text {
	font-size: 16px;
	color: #FFF;
	font-weight: 700;
	margin-bottom: 4px;
	text-align: center;
	display: block;
	margin-top: 10px;
	text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.50);
	letter-spacing: 1.13px;
}
.center-heading {
	text-align: center;
	margin-top: 5px;
}
.align-text-center {
	text-align: center;
}
.login-link {
	color: #107FE5;
	font-weight: 700;
}
.pratilipi-file-upload {
	position: absolute;
    bottom: 0px;
    left: 0px;	
    height: 40px;
    background: #999;
    text-align: center;
	opacity: 0.7;
    transition: opacity .13s ease-out;    
    cursor: pointer;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    padding-top: 5px;

}
.profile-image-parent {
	position: relative;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 2px 2px 7px #ccc;
    background-color: white;
}
.notification-unread-state {
	background-color: #e4e4e4;
}
.sprites-icon {
	background: url(icons.svg) no-repeat 0 0 transparent;
}
.pratilipi-logo-icon{
    background-position: -52px -178px;
    margin: 5px auto;
    width: 40px;
    height: 40px;
}
.edit-icon{
    background-position: 0 0;
    margin: 10px auto;
    width: 24px;
    height: 24px;
    background-size: cover;
}
.account-circle-icon{
    background-position: -96px -24px;
    margin: 10px auto;
    width: 24px;
    height: 24px;
    background-size: cover;
}
.menu-icon{
    background-position: 0 -24px ;
    margin: 10px auto;
    width: 24px;
    height: 24px;
}
.notifications-icon{
    background-position: -72px -24px;
    margin: 10px auto;
    width: 24px;
    height: 24px;
}
.library-books-icon{
    background-position: -48px -24px;
    margin: 10px auto;
    width: 24px;
    height: 24px;
}
.fb-icon{
	display: inline-block;
    background-position: 0 -120px;
    width: 24px;
    height: 24px;
    margin: 9px;
}
.twitter-icon{
	display: inline-block;
    background-position: -24px -120px;
    width: 24px;
    height: 24px;
    margin: 9px;
}
.gplus-icon{
	display: inline-block;
    background-position: -72px -120px;
    width: 24px;
    height: 24px;
    margin: 9px;
}
.linked-in-icon{
	display: inline-block;
    background-position: -48px -120px;
    width: 24px;
    height: 24px;
    margin: 9px;
}
.search-icon {
	display: inline-block;
    background-position: -120px -24px;
    width: 24px;
    height: 24px;
}