@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block; 
}

body {
	line-height: 1; 
	font-family: Avenir-Black, Montserrat, Helvetica;
}

ol, ul {
	list-style: none; 
}

blockquote, q {
	quotes: none; 
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; 
}

table {
	border-collapse: collapse;
	border-spacing: 0; 
}


.container {
	width: 100%;
	padding: 0px; 
}

.wrapper {
	width: 100%;
}

.active {
	display: block !important; 
}

.inactive {
	display: none !important; 
}

a {
	text-decoration: none; 
}

.clearfix:after {
	content: "";
	display: block;
	clear: both; 
}

* {
	box-sizing: border-box; 
}

.landing-page .pratilipi-banner {
	position: relative;
	z-index: 1;
	padding: 10px;
	text-align: center;
	min-height: 420px;
}

.landing-page .pratilipi-banner .pratilipi-background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(http://0.ptlp.co/resource-all/home-page/widebg.png) no-repeat 0 0;
	background-color: lightgrey;
	opacity: 0.72;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 840px) {
	.landing-page .pratilipi-banner .pratilipi-background {
		background-size: cover;
		background-position-x: -128px;
	}
}
@media only screen and (min-width: 840px) {
	.landing-page .pratilipi-banner .pratilipi-background {
		background-size: cover;
		background-position: top;
	}
}
.landing-page .pratilipi-banner .login-btn,
.landing-page .pratilipi-banner .signup-btn {
	font-family: Montserrat, Helvetica;
	border: 2px solid #FFFFFF;
	border-radius: 7px;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	padding: 8px 24px;
    padding-top: 10px;
	outline: none;
	background: transparent;
}
.landing-page .pratilipi-banner .user-dropdown button {
	background: transparent;
	padding: 0px 25px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 200;
	margin: 0;
	outline: none; 
	border: none;
	color: #FFFFFF;
}
.landing-page .pratilipi-banner .user-dropdown .username {
	font-size: 18px;
	font-family: Montserrat, Helvetica;
}
.landing-page .pratilipi-banner .user-dropdown .dropdown ul.dropdown-menu {
	right: -48px;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.landing-page .pratilipi-banner .user-dropdown .dropdown ul.dropdown-menu > li > a,
.landing-page .pratilipi-banner .user-dropdown .dropdown ul.dropdown-menu > li > a:hover,
.landing-page .pratilipi-banner .user-dropdown .dropdown ul.dropdown-menu > li > a:focus {
	color: #FFFFFF;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}
.landing-page .pratilipi-banner .user-dropdown .open > .dropdown-menu {
	animation-name: slidenavAnimation;
	animation-duration:.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-name: slidenavAnimation;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: slidenavAnimation;
	-moz-animation-duration:.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes slidenavAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}	

.landing-page .pratilipi-banner .content-wrapper {
	padding: 64px 0px; 
}
.landing-page .pratilipi-banner .content-wrapper .description {
	margin: 10px auto;
	font-family: Montserrat, Helvetica;
}
.landing-page .pratilipi-banner .content-wrapper .description .bg-white {
	background-color: #fff;
	color: #000000;
	border: 2px solid transparent;
	letter-spacing: 0.66px;
	overflow: hidden;
}
@media only screen and (max-width: 512px) {
	.landing-page .pratilipi-banner .content-wrapper .description-mobile {
		display: block;
		width: 97%;
	}
	.landing-page .pratilipi-banner .content-wrapper .description-widescreen {
		display: none;
	}
	.landing-page .pratilipi-banner .content-wrapper .description div.bg-white {
		display: block;
		margin-top: 12px;
		margin-bottom: 12px;
		border-radius: 16px;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		padding: 12px 5px;
		opacity: 0.6;
	}
}
@media only screen and (min-width: 512px) {
	.landing-page .pratilipi-banner .content-wrapper .description-mobile {
		display: none;
	}
	.landing-page .pratilipi-banner .content-wrapper .description-widescreen {
		display: block;
	}
	.landing-page .pratilipi-banner .content-wrapper .description h5.bg-white {
		display: inline-block;
		margin: 2px 10px;
		padding: 2px 5px; 
		font-size: 18px;
		opacity: 0.80;
	}
}
.landing-page .pratilipi-banner .content-wrapper .heading-wrapper h2 {
	display: inline-block;
	white-space: nowrap;
	font-weight: 400;
	letter-spacing: 1.13px;
	margin-bottom: 4px;
	color: #FFFFFF;
	text-shadow: 4px 1px 4px rgba(0,0,0,0.50);
}

@media only screen and (max-width: 840px) {
	.landing-page .pratilipi-banner .content-wrapper .heading-wrapper {
		font-size: 28px;
		margin-top: 24px;
	}
}
@media only screen and (min-width: 840px) {
	.landing-page .pratilipi-banner .content-wrapper .heading-wrapper {
		font-size: 42px;
		margin-bottom: 48px;
	}
}
.landing-page .pratilipi-banner .content-wrapper .logo {
	display: block;
	text-align: center;
}
.landing-page .pratilipi-banner .content-wrapper .logo .pratilipi {
	display: inline-block;
	width: 75px;
	height: 75px;
	margin-top: 20px;
	border-radius: 50%;
	background-image: url("http://0.ptlp.co/resource-all/home-page/pratilipi_logo.png");
	background-repeat: no-repeat;
	background-size: cover; 
}
.landing-page .pratilipi-banner .content-wrapper .logo h1 {
	display: inline-block;
	line-height: 108px;
	vertical-align: top;
	font-weight: 400;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 1.21px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}
.landing-page .pratilipi-banner .content-wrapper button.start-reading-btn, 
.landing-page .pratilipi-banner .content-wrapper button.start-reading-btn:hover, 
.landing-page .pratilipi-banner .content-wrapper button.start-reading-btn:focus {
	opacity: 0.85;
	background: #D0021B;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 7px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0px;
	outline: none;
	margin: 10px;
    border: 2px solid transparent;
    padding: 10px 48px;
}
.landing-page .wrapper {
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-between;
}
.landing-page .wrapper ul.tiles-container, .landing-page .wrapper .tiles-container-mobile {
	margin: auto;
	padding:10px;
	display: block;
}
.landing-page .wrapper ul.tiles-container li.image {
	float: left;
	margin: 7px;
	overflow: hidden;
	height: 324px;
	margin-bottom: 0px;
}
.landing-page .wrapper ul.tiles-container li.image-left {
	margin-right: 0px;
}
.landing-page .wrapper ul.tiles-container li.image-right {
	margin-left: 0px;
}
.landing-page .wrapper ul.tiles-container li.image2 {
	height: 183px;
}
.landing-page .wrapper ul.tiles-container li.image3 {
	height: 283px;
	margin-top: -137px;
}
.landing-page .wrapper ul.tiles-container li.image4 {
	height: 183px;
	margin-top: -182px;
}
.landing-page .wrapper .tiles-container-mobile {
	padding-left: 24px;
	padding-right: 24px;
}
.landing-page .wrapper .tiles-container-mobile a.language-button {
	-moz-box-shadow: 1px 1px 1px -1px #555555;
	-webkit-box-shadow: 1px 1px 1px -1px #555555;
	box-shadow: 1px 1px 1px -1px #555555;
	background-color: #F9F9F9;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #333;
	display: inline-block;
	cursor: pointer;
	color: #333;
	font-size: 18px;
	padding: 12px 16px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 24px;
}
.landing-page .wrapper .tiles-container-mobile a.language-button:hover {
	background-color: transparent;
}
.landing-page .wrapper .tiles-container-mobile a.language-button:active {
	position: relative;
	top: 1px;
}


@media only screen and (min-width: 1150px) {
	.landing-page .wrapper ul.tiles-container {
		max-width: 1150px;
	}
	.landing-page .wrapper ul.tiles-container li.image {
		width: 366px;
	}
	.landing-page .wrapper .tiles-container-mobile {
		display: none;
	} 
}

@media only screen and (max-width: 1149px) {
	.landing-page .wrapper ul.tiles-container {
		max-width: 846px;
	}
	.landing-page .wrapper ul.tiles-container li.image {
		width: 266px;
	}
	.landing-page .wrapper .tiles-container-mobile {
		display: none;
	}
}

@media only screen and (max-width: 845px) {
	.landing-page .wrapper ul.tiles-container {
		display: none;
	}
	.landing-page .wrapper .tiles-container-mobile {
		display: block;
	}
}


.landing-page .wrapper a {
	width: 100%;
	margin: 0; 
}
.landing-page .wrapper a .tiles {
	width: 100%;
	padding-bottom: 100%;
	background-color: #ebebeb;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.6; 
}
.landing-page .wrapper a .tiles:hover {
	opacity: 1; 
	transition: opacity .5s;
	-webkit-transition: opacity .5s;
}
.landing-page .wrapper a .tiles .language {
	text-decoration: none;
	margin-top: 30px;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px;
	font-size: 18px;
	color: #000;
	display: inline-block; 
}
.landing-page .notify-me-wrapper {
	padding: 20px 5px;
	text-align: center;
	background-color: #333;
}
.landing-page .notify-me-wrapper .notify-elements {
	margin: 0 auto; 
}
.landing-page .notify-me-wrapper .notify-elements h3 {
	color: #fff;
	font-size: 24px;
	margin: 16px;
	font-weight: 400; 
}
.landing-page .notify-me-wrapper .notify-loader {
	display: none;
    margin: 0 auto;
    border: 2px solid #D0021B;
    border-radius: 50%;
    border-top: 2px solid #333;
    width: 28px;
    height: 28px;
    margin-top: 36px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.landing-page .notify-me-wrapper .notify-message {
	margin: 0 auto;
	display: none;
}
.landing-page .notify-me-wrapper .notify-message h2 {
	color: #fff;
	font-size: 26px;
	margin: 16px;
	font-weight: 400; 
}
.landing-page .notify-me-wrapper .notify-elements .language-selection {
	background-color: #ebebeb;
	color: #555555;
	font-size: 16px;
	font-weight: 100;
	float: none;
	height: 35px; 
}
.landing-page .notify-me-wrapper .notify-elements .input-field {
	color: #555555;
	font-size: 16px;
	border-radius: 4px;
	height: 35px;
	background-color: #ebebeb;
	padding-left: 10px; 
}
.landing-page .notify-me-wrapper .notify-elements .notify-me-btn,
.landing-page .notify-me-wrapper .notify-message .notify-me-btn {
	border: 2px solid transparent;
	padding: 0px 25px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 200;
	outline: none;
	background: #D0021B;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 7px;
	color: #FFFFFF;
}
@media only screen and (max-width: 599px) {
	.landing-page .notify-me-wrapper .notify-elements .language-selection {
		display: block;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 12px;
	}
	.landing-page .notify-me-wrapper .notify-elements .input-field {
		display: block;
		width: 90%;
		margin-bottom: 12px;
		margin-left: auto;
		margin-right: auto;
	}
	.landing-page .notify-me-wrapper .notify-elements .notify-me-btn,
	.landing-page .notify-me-wrapper .notify-message .notify-me-btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (min-width: 600px) {
	.landing-page .notify-me-wrapper .notify-elements .language-selection {
		display: inline-block;
		margin: 10px 0px;
		margin-left: 8px;
		width: 200px;
	}
	.landing-page .notify-me-wrapper .notify-elements .input-field {
		display: inline-block;
		width: 300px;
		margin-left: 16px;
		margin-right: 16px;
	}
	.landing-page .notify-me-wrapper .notify-elements .notify-me-btn,
	.landing-page .notify-me-wrapper .notify-message .notify-me-btn {
		display: inline-block;
		margin: 10px;
	}
}
.landing-page .pratilipi-footer {
	font-family: Montserrat, Helvetica;
	padding: 20px;
	background-color: #ebebeb; 
}
.landing-page .pratilipi-footer p {
	margin-top: 12px;
	font-size: 15px;
}
.landing-page .pratilipi-footer .about-pratilipi {
	position: relative;
	padding-top: 10px;
}
.landing-page .pratilipi-footer .about-pratilipi h5 {
	font-size: 18px;
	color: #666;
	margin-bottom: 10px; 
}
.landing-page .pratilipi-footer .about-pratilipi span {
	font-size: 14px;
	line-height: 1.5;
	color: #666; 
	display: block;
	margin-bottom: 4px;
}
.landing-page .pratilipi-footer .about-pratilipi .copyrights {
	font-size: 14px;
	position: absolute;
	bottom: 0; 
}
@media only screen and (max-width: 599px) {
	.landing-page .pratilipi-footer .about-pratilipi {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-bottom: 20px;
	}
	.landing-page .pratilipi-footer .about-part-3 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-bottom: 20px;
	}
	.landing-page .pratilipi-footer p {
		text-align: center;
	}
}
@media only screen and (min-width: 600px) {
	.landing-page .pratilipi-footer .about-pratilipi {
		display: inline-block;
		width: 50%;
		text-align: left;
		border-right: 1px solid gray;
		padding-bottom: 40px;
	}
	.landing-page .pratilipi-footer .about-part-3 {
		margin-top: 5px;
		position: absolute;
		display: inline-block;
		width: 45%;
		padding-left: 10px;
	}
}
/* .landing-page .pratilipi-footer .about-part-2 {
	padding: 10px;
	border-right: 1px solid gray;
	height: 128px;
}
.landing-page .pratilipi-footer .about-part-2 ul {
	display: inline-block;
	margin: 0 10px; 
}
.landing-page .pratilipi-footer .about-part-2 ul li {
	margin-bottom: 10px; 
}
.landing-page .pratilipi-footer .about-part-2 ul li a {
	color: #666;
	line-height: 1.3em;
} */
.landing-page .pratilipi-footer .about-part-3 {
	color: #666;
	font-size: 16px;
}
.landing-page .pratilipi-footer .about-part-3 span {
	display: block;
	line-height: 1.3em;
	margin-bottom: 16px; 
}
.landing-page .pratilipi-footer .about-part-3 .social-media-links {
	white-space: nowrap;
}
.landing-page .pratilipi-footer .about-part-3 a {
	color: #666;
	margin-right: 16px; 
}

/* Specific to all Modal popups */

.modal {
	overflow-y: scroll!important;
}

.modal-heading {
	margin: 0px; 
	padding: 0px; 
	font-weight: 700;
}

.modal-close-button {
	float: right; 
	margin-top: -25px; 
	margin-right: -10px;
}

.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	top: 300px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(0, -300px, 0);
	transform: translate3d(0, -300px, 0);
	opacity: 1;
}

/* Transparent fullscreen modal popups */
.modal-fullscreen {
	background: rgba(255,255,255,.95);
}

.modal-fullscreen-heading {
	text-align: center;
	margin-top: 20px;
	margin-bottom : 30px;
	display: block;
}

.modal-fullscreen-close-button {
	position: fixed; 
	top: 0px; 
	right: 16px;
}

button.close {
	outline: none;
}

.modal-fullscreen-close-button paper-icon-button {
	width: 40px;
	height: 40px;
}

.modal-fullscreen .modal-dialog {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%;
	display: table;
    position: absolute;
}

.modal-fullscreen .modal-dialog .modal-center {
	display: table-cell;
	vertical-align: middle;
}

.modal-fullscreen .modal-dialog .modal-content {
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	margin: 0 auto;
	margin-bottom: 32px;
}

.modal-fullscreen .modal-dialog .modal-content img {
	margin: 20px auto;
	display: block; 
	max-width: 80px;
}

.modal-fullscreen .modal-dialog .modal-content input.input-field {
	padding: 10px;
	border: none;
	border-bottom: solid 1px #107FE5;
	transition: border 0.3s;
	display: block;
	width: 300px;
	font-size: 16px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	background-color: inherit;
	color: #333;
}

.modal-fullscreen .modal-dialog .modal-content input.input-field:focus,
.modal-fullscreen .modal-dialog .modal-content input.input-field.focus {
	border-bottom: solid 1px #107FE5;
	outline: none;
}

.modal-fullscreen .modal-dialog .modal-content input.input-field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #107FE5;
}
.modal-fullscreen .modal-dialog .modal-content input.input-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #107FE5;
	opacity:  1;
}
.modal-fullscreen .modal-dialog .modal-content input.input-field::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #107FE5;
	opacity:  1;
}
.modal-fullscreen .modal-dialog .modal-content input.input-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #107FE5;
}

.modal-fullscreen .modal-footer {
	background: rgba(255,255,255,.92);
	display: block;
	position: fixed;
	height: 75px; 
	bottom: 0px;
	z-index: 1050;
	width: 100%;
	padding-top: 20px; 
	padding-bottom: 10px;
}

.display-message-div {
	min-height: 40px;
	display: block;
	text-align: center;
}

.pratilipi-blue-button {
	border: 1px solid #107FE5;
	background: transparent;
	color: #107FE5;
	min-width: 70px;
	width: auto;
	height: 40px;
	text-align: center;
	line-height: 5px;
	padding: 15px 20px;
	display: block;
	outline: none;
	margin: 0 auto;
	border-radius: 100em;
}
div.social-wrap {
	margin-top: 30px;
	margin-bottom: 30px;
}
div.social-wrap button {
	padding-left: 20px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	background: none;
	border: none;
	display: block;
	background-size: 25px 25px, cover;
	background-position: 10px center, center center;
	background-repeat: no-repeat, repeat;
	border-radius: 4px;
	color: white;
	font-size: 14px;
	margin-bottom: 15px;
	width: 275px;
	border-bottom: 2px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	box-shadow: 0 4px 2px -2px gray;
	text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}

div.social-wrap > .facebook {
	background: url(http://0.ptlp.co/resource-all/icon/facebook-login/facebook_transparent_icon_25x25.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
	background-size: 25px 25px, cover;
	background-position: 10px center, center center;
	background-repeat: no-repeat, repeat;
	outline: none;
}