@import url(http://fonts.googleapis.com/earlyaccess/notosanstamil.css);

@import url(http://0.ptlp.co/resource-gu/font/shruti.css);

body {
	font-family: Helvetica, 'Noto Sans Tamil', 'Shruti', sans-serif;
	background: #f5f5f5;
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-size: 14px;
	line-height: 24px;
}

.parent-container {
	width: 100%;
	padding: 0px 5px;
	margin: 0;
}

.container {
	width: auto;
	max-width: 680px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 25px;
	margin: 0px;
	margin-bottom: 10px;
}

h2 {
	font-size: 22px;
	margin: 0px;
	margin-bottom: 8px;
}

h3 {
	font-size: 20px;
	margin: 0px;
	margin-bottom: 7px;
}

h4 {
	font-size: 18px;
	margin: 0px;
	margin-bottom: 6px;
}

h5 {
	font-size: 17px;
	margin: 0px;
	margin-bottom: 6px;
}

h6 {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 6px;
}

hr {
	background-color: #888888;
	border-width: 1px 0px 0px 0px;
	border-style: ridge;
}

a, a:hover, a:focus {
	color: #333;
	text-decoration: none;
	font-size: 14px;
}

p {
	line-height: 21px;
	text-align: justify;
}

span {
	font-size: 13px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr td {
	padding: 0px;
	vertical-align: top;
}

.box {
	padding: 10px 15px;
	margin-top: 5px;
}

.secondary-500 {
	color: #333;
	background-color: #FFF;
}

.text-center {
	text-align: center;
}

.div-center {
	margin: 0 auto;
}

.margin-top-bottom {
	margin: 5px auto;
}

.two-cols {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

.three-cols {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}

/* Header */
.search-button {
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	cursor: pointer;
	color: white;
}

/* Footer */
.link:link, .link:visited, .link:hover, .link:active {
	font-size: 16px;
	color: #333;
	line-height: 36px;
	white-space: nowrap;
	text-decoration: none;
}

.img-circle {
	width: 48px;
	height: 48px;
	margin: 10px;
	border-radius: 50%;
}

/* Branding */
.pratilipi-red, a.pratilipi-red:hover, a.pratilipi-red:focus {
	color: #D0021B !important;
	text-decoration: none !important;
}

.pratilipi-blue, a.pratilipi-blue:hover, a.pratilipi-blue:focus {
	color: #107FE5 !important;
	text-decoration: none !important;
}

.pratilipi-shadow {
	border-top: 1px solid #DDD;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
}

.pratilipi-light-blue-button {
	background: #F1F8FB;
	border: 1px solid #0C68BD;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
	font-size: 13px;
	color: #0C68BD;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: inline-block;
	padding: 5px;
	margin-right: 10px;
	magin-top: 5px;
	outline: none;
}

a.pratilipi-light-blue-button:hover, a.pratilipi-light-blue-button:focus
	{
	color: #0C68BD;
	text-decoration: none;
	font-size: 13px;
}

.pratilipi-grey-button {
	/* Dashboard Button */
	background: #E5E5E5;
	border: 1px solid #979797;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	border-radius: 2px;
	font-size: 13px;
	color: #4A4A4A;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: inline-block;
	padding: 5px;
	margin-right: 10px;
	margin-top: 5px;
	outline: none;
}

a.pratilipi-grey-button:hover, a.pratilipi-grey-button:focus {
	color: #4A4A4A;
	text-decoration: none;
	font-size: 13px;
}

.pratilipi-new-blue-button {
	background: #F0F8FF;
	background-image: -webkit-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -moz-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -ms-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -o-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: linear-gradient(to bottom, #F0F8FF, #F0FFFF);
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 1px;
	min-width: 80px;
	color: #107FE5;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 12px;
	margin-top: 5px;
	border: solid #107FE5 1px;
	outline: none;
	text-decoration: none;
	text-align: center;
}

a.pratilipi-new-blue-button:hover, a.pratilipi-new-blue-button:focus {
	color: #107FE5;
	text-decoration: none;
	font-size: 13px;
}

.pratilipi-dark-blue-button {
	background-color: #107FE5;
	height: 40px;
	padding: 10px;
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 0.3px;
	text-align: center;
	min-width: 80px;
	width: auto;
	font-weight: 300;
	line-height: 20px;
	display: inline-block;
	outline: none;
}

a.pratilipi-dark-blue-button:hover, a.pratilipi-dark-blue-button:focus {
	color: #ffffff;
	font-size: 13px;
}

.cover-image {
	height: 350px;
	border-radius: 0;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.edit-profile {
	position: relative;
	top: 16px;
	left: 40px;
}

.numbers {
	font-size: 20px;
	font-weight: 500;
}

.share-author {
	position: relative;
	top: 16px;
	right: 40px;
}

.profile-picture {
	width: 200px;
	height: 200px;
	padding: 2px;
	margin-top: 30px;
}

.author-name {
	/*margin: 12px auto;*/
	display: block;
	color: #fbfbfb;
	font-size: 21px;
	font-weight: 700;
	text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.50);
	letter-spacing: 1.13px;
}

.follow-author {
	text-align: center;
}

.follow-author a.pratilipi-light-blue-button {
	margin: 0 auto;
	border-radius: 5px;
	font-weight: 400;
	white-space: nowrap;
	font-size: 15px;
	color: Blue;
	padding: 5px;
	border: 1px blue solid;
	margin-top: 10px;
}

.follow-author button.pratilipi-light-blue-button {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	font-weight: 400;
	white-space: nowrap;
	font-size: 15px;
	color: Blue;
	padding: 5px;
	border: 1px blue solid;
	margin-top: 10px;
}

.follow-author button.pratilipi-grey-button, .follow-author a.pratilipi-grey-button
	{
	background: #E5E5E5;
	border: 1px solid #979797;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.50);
	border-radius: 5px;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
	color: #4A4A4A;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: block;
	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
	outline: none;
}

.pratilipi-author-stat {
	padding: 10px;
}

.active>.nav-tab-blue-underline {
	text-decoration: none;
	font-weight: bold;
	border-radius: 0px;
	border-bottom-width: 4px !important;
	border-bottom-style: solid;
	border-bottom-color: blue !important;
	color: #000 !important;
	background-color: transparent !important;
}

.pratilipi-bold {
	font-weight: bold;
}

.pratilipi-no-margin {
	margin-bottom: 0px;
}

.pratilipi-without-margin{
	margin: 0px;
}

.works-number {
	font-size: 15px;
	color: grey;
}

.media span {
	margin: 5px;
}

.media button {
	margin: 5px;
}

.pratilipi-light-blue-button-with-margin {
	margin: 0 auto;
	border-radius: 5px;
	font-weight: 400;
	font-size: 15px;
	color: Blue;
	padding: 5px;
	border: 1px blue solid;
	margin-top: 20px !important;
}