@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstamil.css);

html {
	height: 100%;
}

body {
	font-family: Helvetica,'Noto Sans Tamil', sans-serif;
	background: #f5f5f5;
	margin: 0px;
	height: 100%;
	font-size: 14px;
	line-height: 24px; 
}


/* container classes */

.parent-container {
	padding: 0px;
	min-width: 300px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.paper {
	padding: 16px;
	margin: 16px 5px 16px 5px;
	background-color: #fff;
	color: #555;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 100%;
	max-width: 1000px;
	min-height: 800px;
}


/* popup classes */

.popup {
	width: 325px;
	background: white;
}

.popup .popup-heading {
	margin: 0px;
	padding: 15px 20px;
	color: #777;
	background: #eee;
}

.popup .popup-body {
	padding: 20px;
}

.popup button {
	padding: 5px 30px;
	border-radius: 0px;
	color: white;
	background: rgb(0,146,69);
}


/* Color Palette :: secondary */

.secondary-500 {
	color: #333;
	background-color: white;
}

a {
	font-size: 14px;
}

a:hover, a:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

br { 
	line-height: 20px;
}

table {
	white-space: nowrap;
}

span {
	font-size: 12px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 400;
	margin: 5px 0px 10px 0px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}


/* Custom Overrides */

a.blue, a.blue:hover, a.blue:focus,
button.blue, button.blue:hover, button.blue:focus {
	color: white;
	background: #0071BC;
}


/* Bootstrap Overrides */

.text-success {
	color: #009245;
}


/* Mobile Responsive Property - For mobile and wide-screens*/

.row-widescreen {
	 display: flex;
}

.col-left-widescreen {
	width: auto;
}

.col-right-widescreen {
	flex: 1;
}

.row-mobile {
	width: 100%;
	display: block;
	text-align: center;
}

.col-left-mobile {
	width: auto;
	display: block;
	margin: 0 auto;
}

.col-right-mobile {
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}


/* Custom	Elements	*/

/* <hr> style */
.pratilipi-top {
	border-top: 1px solid #f3f3f3;
	margin: 0;
	padding: 0;
}

/* <br> style */
.pratilipi-break {
	line-height:3px;
	display: block;
	margin: 5px;
	content: " ";
}

/* custom box shadow */
.pratilipi-shadow {
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);
}

/* Custom Buttons and Links */

.pratilipi-light-blue-button {
	background: #F1F8FB;
	border: 1px solid #0C68BD;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);
	border-radius: 2px;
	font-family: Helvetica-Bold, 'Noto Sans Tamil';
	font-size: 13px;
	color: #0C68BD;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	margin-right: 10px;
	outline: none;
}

a.pratilipi-light-blue-button:hover, a.pratilipi-light-blue-button:focus {
	color: #0C68BD;
}

.pratilipi-dark-blue-button {
	background-color: #107FE5;
	height: 40px;
	padding: 10px;
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 0.3px;
	text-align: center;
	min-width: 80px;
	width: auto;
	font-weight: 300;
	line-height: 20px;
	display: inline-block;	
	outline: none;
}

a.pratilipi-dark-blue-button:hover, a.pratilipi-dark-blue-button:focus {
	color: #ffffff; 
}

.pratilipi-grey-button {
	/* Dashboard Button */
	background: #E5E5E5;
	border: 1px solid #979797;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);
	border-radius: 2px;
	font-family: Helvetica-Bold, 'Noto Sans Tamil';
	font-size: 13px;
	color: #4A4A4A;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-shadow: 0px 1px 2px #FFFFFF;
	display: inline-block;
	padding: 10px 15px 10px 15px;
	margin-right: 10px;
	outline: none;
}

a.pratilipi-grey-button:hover, a.pratilipi-grey-button:focus {
	color: #4A4A4A; 
}

.pratilipi-white-button {
	background: #FFFFFF;
	border: 1px solid #979797;
	font-size: 13px;
	color: #000000;
	min-width: 70px;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 15px;
	padding: 10px 0px 10px 0px;
	display: inline-block;
	outline: none;
}

a.pratilipi-white-button:hover, a.pratilipi-white-button:focus {
	color: #000000; 
}

.pratilipi-orange-button {
	background: #FBF5F1;
	border: 1px solid #F5A623;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);
	border-radius: 2px;
	font-family: Helvetica-Bold, 'Noto Sans Tamil';
	font-size: 12px;
	color: #F58823;
	letter-spacing: 0.3px;
	line-height: 14px;
	text-shadow: 0px 1px 2px #FFFFFF;
	padding: 10px 0px 10px 0px;
	display: inline-block;
	outline: none;
}

a.pratilipi-orange-button:hover, a.pratilipi-orange-button:focus {
	color: #F58823; 
}

.pratilipi-new-blue-button {
	background: #F0F8FF;
	background-image: -webkit-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -moz-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -ms-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: -o-linear-gradient(top, #F0F8FF, #F0FFFF);
	background-image: linear-gradient(to bottom, #F0F8FF, #F0FFFF);
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 1px;
	min-width: 80px;
	color: #107FE5;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 12px;
	border: solid #107FE5 1px;
	outline: none;
	text-decoration: none;
}

.pratilipi-new-blue-button:hover {
	text-decoration: none;
}

.link {
	font-size: 14px;
	color: #9B9B9B;
	line-height: 17px;
}


/* Active or Inactive */

.active, .active:focus {
	font-size: 18px;
	color: #D0021B;
	line-height: 20px;
}

.inactive, .inactive:focus {
	font-size: 12px;
	color: #989898;
	line-height: 20px;
}



/* Other Elements */
.rating-text {
	font-family: Helvetica;
	font-size: 12px;
	color: #9B9B9B;
	line-height: 14px;
}
