body {
	margin: 0px;
}


.pagecontent-pratilipihome {
	display: table;
	width: 100%;
}

.pagecontent-pratilipihome .background {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.pagecontent-pratilipihome .background img {
	min-width: 800px;
}

.pagecontent-pratilipihome .links-left,
.pagecontent-pratilipihome .links-right,
.pagecontent-pratilipihome .title {
	position: absolute;
	overflow: visible;
	height: 0px;
	width: 100%;
}

.pagecontent-pratilipihome .links-left {
	text-align: left;
	padding-top: 15px;
}

.pagecontent-pratilipihome .links-right {
	text-align: right;
	padding-top: 15px;
}

.pagecontent-pratilipihome .title {
	text-align: center;
	padding-top: 15px;
	font-size: 40px;
}

.pagecontent-pratilipihome a {
	color: white;
	text-decoration: none;
	padding-left: 75px;
	padding-right: 75px;
}

.pagecontent-pratilipihome .tag-line {
	text-align: center;
	padding-top: 100px;
	font-size: 25px;
	color: white;
}

.pagecontent-pratilipihome .teaser {
	text-align: center;
	padding-top: 100px;
}


.websitewidget-footer {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

.websitewidget-footer a {
	color: white;
	text-decoration: none;
}
