body {
	margin: 0px;
	font-size : 17px;
	font-family: 'Kalam', cursive;
}

input[type='text'] {
	padding: 5px;
	border-width: 1px;
	border-radius: 5px;
	font-family: 'Kalam', cursive; 
}

input[type='text']:focus {
	box-shadow : 0 1px 1px #00ccff, 0 0 8px #00ccff;
}

#PageContent-PratilipiHome {
	display: table;
	width: 100%;
}

#PageContent-PratilipiHome .background {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#PageContent-PratilipiHome .background img {
	min-width: 800px;
}

#PageContent-PratilipiHome .links-left,
#PageContent-PratilipiHome .links-right,
#PageContent-PratilipiHome .title {
	position: absolute;
	overflow: visible;
	height: 0px;
	width: 100%;
}

#PageContent-PratilipiHome .links-left {
	text-align: left;
	padding-top: 15px;
}

#PageContent-PratilipiHome .links-right {
	text-align: right;
	padding-top: 15px;
}

#PageContent-PratilipiHome .title {
	text-align: center;
	font-size: 40px;
}

#PageContent-PratilipiHome a {
	color: white;
	text-decoration: none;
	padding-left: 75px;
	padding-right: 75px;
	font-family: none;
}

#PageContent-PratilipiHome .tag-line {
	text-align: center;
	padding-top: 50px;
	font-size: 25px;
	color: white;
}

#PageContent-PratilipiHome .launching-soon {
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
	color: white;
}

#PageContent-PratilipiHome .launching-soon a {
	padding-left: 0px;
	padding-right: 0px;
	font-family: 'Kalam', cursive;
	text-decoration: underline;
}

#PageContent-PratilipiHome .teaser {
	text-align: center;
	padding-top: 50px;
}


.pratilipi-SubscriptionForm {
	background-color: white;
	padding: 25px;
	margin-top: 150px;
    border: 5px solid gray;
    border-radius: 10px;
    z-index: 10001;
	display: inline-block;
}

.pratilipi-SubscriptionForm .gwt-TextBox {
	margin: 5px;
	padding: 5px;
	font-size: 18px;
	border-width: 1px;
	border-radius: 5px;
}

.pratilipi-SubscriptionForm .namePanel .gwt-TextBox {
	width: 200px;
}

.pratilipi-SubscriptionForm .emailPanel .gwt-TextBox {
	width: 422px;
}

.pratilipi-SubscriptionForm .buttonPanel {
	text-align: right;
}

.pratilipi-SubscriptionForm .buttonPanel .gwt-Button {
	margin: 5px;
	font-size: 18px;
	font-family: 'Kalam', cursive;
}

#PageContent-PratilipiInvite {
	padding-left : 5px;
}

.Pratilipi-InvitationForm .gwt-TextBox {
	width : 300px;
	height : 20px;
	font-size : 16px;
}

.Pratilipi-InvitationForm .gwt-Button {
	width : 150px;
	height : 30px;
	font-size : 16px;
	font-family: 'Kalam', cursive;
}

.SharePanel-Image {
	cursor : pointer;
}

#PageContent-PratilipiAbout {
	padding: 10px;
}


#PageContent-PratilipiContact {
	padding: 10px;
	text-align: center;
}


.websitewidget-header {
	background-color: black;
}

.websitewidget-header .title {
	font-size: 40px;
}

.websitewidget-header a {
	color: white;
	text-decoration: none;
	padding-left: 75px;
	padding-right: 75px;
	font-size : 15px;
	font-family : none;
}


.websitewidget-footer {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

.websitewidget-footer a {
	color: white;
	font-size : 14px;
	text-decoration: none;
	font-family : none;
}
