వ్యాసాలు        { "language":"TELUGU", "listName":"articles", "state":"PUBLISHED" }
పుస్తకాలు        { "language":"TELUGU", "listName":"books", "state":"PUBLISHED" }
కవితలు     { "language":"TELUGU", "listName":"poems", "state":"PUBLISHED" }
కథలు     { "language":"TELUGU", "listName":"stories", "state":"PUBLISHED" }
మినీకథలు        { "language":"TELUGU", "listName":"ministories", "state":"PUBLISHED" }
క్లాసిక్స్        { "language":"TELUGU", "listName":"classics", "state":"PUBLISHED" }
బాల సాహిత్యం       { "language":"TELUGU", "listName":"children", "state":"PUBLISHED" }
జీవితం       { "language":"TELUGU", "listName":"life", "state":"PUBLISHED" }
ప్రేమ      { "language":"TELUGU", "listName":"love", "state":"PUBLISHED" }
ప్రకృతి     { "language":"TELUGU", "listName":"nature", "state":"PUBLISHED" }
సామాజికం      { "language":"TELUGU", "listName":"social", "state":"PUBLISHED" }
ఆధ్యాత్మికం     { "language":"TELUGU", "listName":"spiritual", "state":"PUBLISHED" }
మహిళ     { "language":"TELUGU", "listName":"women", "state":"PUBLISHED" }
