.carousel-indicators li {
	width: 4px;
	height: 4px;
	
}
.carousel-indicators li.active {
	width: 6px;
	height: 6px;
}

.carousel-indicators {
	bottom: -16px; 
}

.section-list .section-container {
	margin-bottom: 20px;
	.section-title {
		margin: 0;
		background: #fff;
		padding: 16px 8px;
		color: #333;
	}
	@media only screen and (max-width: 480px) {
		.view-more-holder {
			padding: 0;
			a {
				display: block;
				margin: 12px 8px;
			}
		}
	}
}
