.pratilipi-pratilipi-card {
	min-height: auto;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	padding: 8px;
	.pratilipi-cover-image-holder {
		margin-right: 16px;
		float: left;
		img {
			width: 100px;
			height: 150px;
			@media only screen and (max-width: 480px) {
				width: 80px;
				height: 120px;
			}
		}
	}
	.pratilipi-meta-holder {
		flex-grow: 1;
		.mdl-card__title {
			padding: 0;
		}
		.pratilipi-title.mdl-card__title {
			margin: 8px 0;
		}
		.author-name {
			margin-bottom: 12px;
		}
		.pratilipi-card-meta-reads-rating-holder {
			color: rgba(0,0,0,0.54);
			span.meta-holder {
				float: left;
				span {
					float: left;
					margin-right: 2px;
				}
				i {
					width: 16px;
					height: 16px;
					line-height: 17px;
					font-size: 20px;
				}
			}
			span.reads-holder {
				margin-right: 36px;
			}
		}
		.pratilipi-card-footer-icons-holder {
			position: absolute;
			bottom: 8px; // padding: 8px;
			right: 8px; // padding: 8px;
			color: #333;
			.mdl-button {
				min-width: 40px;
				height: 40px;
				width: 40px;
				.material-icons {
					width: 20px;
					height: 20px;
					font-size: 20px;
				}
			}
			.share-button {
				margin-right: 8px;
			}
		}
	}
}