ul.pratilipi-notification-list {
	list-style: none;
	top: 0;
	left: 0;
	height: auto;
	width: auto;
	min-width: 124px;
	padding: 0;
	margin: 0;

	li, li:hover {
		background: #fff;
		padding: 0;
	}

	li.notif-unread, li.notif-unread:hover {
		background-color: rgba(208, 2, 27, 0.1) !important;
		background-color: #f7f7f7;
	}

	li.show-more {
		text-align: center;
		height: 78px;
		button {
			width: 100%;
			height: 100%;
			display: block;
		}
		button:hover {
			background: #fff !important;
		}
	}

	li {
		opacity: 1!important;
		height: auto;
		span.notification-message {
			border-bottom: 1px solid rgba(0,0,0,.12);
			line-height: 1.4em;
			padding: 10px 15px;
			display: block;
			a {
				border-radius: 0px;
				color: #000;
				span.notification-display-image {
					align-self: center;
					margin-right: 12px;
					img {
						width: 48px; 
						height: 48px;
					}
				}
				span.notification-message-holder {
					white-space: normal;
					flex-grow: 1; 
					margin-right: 12px;
					align-self: center;
					span.notification-meta {
						display: block; 
						margin-top: 8px;
						font-size: 13px;
					}
				}
				span.notification-source-image {
					img {
						width: 48px;
						height: 72px;
					}
				}
			}
		}
	}
}
.spinner-holder {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 25px 0;
	span {
		margin: auto;
	}
}