.pratilipi-edit-pratilipi {
	div.modal-content {
		border-radius: 1px;
		div.modal-header {
			span.close {
				float: right !important;
				cursor: pointer;
			}
		}
		div.modal-body {
			padding: 15px 30px;
			.mdl-textfield {
				width: 100%;
				display: block;
			}
			input.title {
				border: none;
				box-shadow: none !important;
				border-bottom: 1px solid rgba(0,0,0,.12);
				font-size: 16px;
				font-weight: 400;
				border-radius: 0px;
				width: 100%;
				outline: none;
				margin: 20px 0;
				display: block;
				padding: 4px 0;
				background: 0 0;
				text-align: left;
				color: inherit;
			}
			input.title::-webkit-input-placeholder {
				opacity: 0.75;
				font-weight: 300
			}
			input.title::-moz-placeholder {
				opacity: 0.75;
				font-weight: 300
			}
			input.title:-ms-input-placeholder {
				opacity: 0.75;
				font-weight: 300
			}
			input.title:-moz-placeholder {
				opacity: 0.75;
				font-weight: 300
			}
			textarea.summary {
				display: block;
				height: 200px;
				width: 100%;
				line-height: 1.4em;
				font-size: 15px;
			}
		}
		div.modal-footer {
			border: none;
		}
	}
}