nav.pratilipi-navigation-drawer {
	background: #fff;
	h6 {
		margin: 0px;
		padding: 16px 0 0 16px;
		color: #D0021B;
	}
	a.mdl-navigation__link {
		color: #333;
		text-decoration: none;
		padding: 5px 20px 5px 20px;
		display: block;
	}
}