.pratilipi-write {
	div.modal-content {
		border-radius: 1px;
		div.modal-header {
			h6.material-title {
				padding-left: 15px;
				margin: 0;
			}
			span.close {
				float: right !important;
				cursor: pointer;
				margin-top: 2px;
			}
		}
		div.modal-body {
			padding: 15px 30px;
			.mdl-textfield {
				width: 100% !important;
				display: block;
			}
			i.dropdown-icon {
				position: absolute;
				right: 0px;
				bottom: 18px;
				width: 32px;
				height: 32px;
				font-size: 32px;
			}
			ul.dropdown-ul {
				width: 100%;
				-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
				box-shadow: 0 3px 9px rgba(0,0,0,0.5);
				border: 1px solid #999;
				border: 1px solid rgba(0,0,0,0.2);
				border-radius: 4px;
				.mdl-menu__item, .mdl-menu__item:hover {
					color: #000;
				}
			}
			.accept-terms a {
				color: #333; 
				text-decoration: underline; 
				line-height: 40px;
			}
			/* 
			** Not using input.title -> For reference
			input.title {
				border: none;
				box-shadow: none !important;
				border-bottom: 1px solid rgba(0,0,0,.12);
				font-size: 16px;
				font-weight: 400;
				border-radius: 0px;
				width: 100%;
				outline: none;
				margin: 20px 0;
				display: block;
				padding: 4px 0;
				background: 0 0;
				text-align: left;
				color: inherit;
			}
			input.title::-webkit-input-placeholder {
				opacity: 0.75;
				font-weight: 300
			}
			input.title::-moz-placeholder {
				opacity: 0.75;
				font-weight: 300
			}
			input.title:-ms-input-placeholder {
				opacity: 0.75;
				font-weight: 300
			}
			input.title:-moz-placeholder {
				opacity: 0.75;
				font-weight: 300
			}
			**
			*/
		}
		div.modal-footer {
			border: none;
		}
	}
}