#pratilipi-author-follows-followers, #pratilipi-author-follows-following {
	@media only screen and (max-width: 767px) {
		.modal-dialog {
			padding: 0;
			margin: 0;
		}
	}
	.author-follow-ul {
		padding: 0;
		margin: 0;
		.mdl-list__item {
			padding: 12px 16px;
			border-bottom: 1px solid #e5e5e5;
			.author-name {
				flex-grow: 1; 
				padding: 0 16px;
				a {
					color: inherit;
				}
			}
		}
		.small-button {
		    min-width: 36px;
		    padding: 0;	
		}
	}
	.load-more-container {
		margin-top: 0;
	}
}