.pratilipi-author-info {

	$author_image_desktop_dimension: 200;
	$author_image_mobile_dimension: 120;

	margin-bottom: 0;

	.image-loading {
		@include css-prefix( 'opacity', '0.75' );
		@include css-prefix( 'transition', '0.3s opacity' );
	}

	.author-cover-image-holder {
		@include css-prefix( 'display', 'flex' );
		@include css-prefix( 'flex-direction', 'row' );
		align-items: center;

		img.author-cover-image {
			max-width: 100%;
			width: 100%;
		}

		.upload-cover-button {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 36px;
			height: 36px;
			background: rgba( 255, 255, 255, 0.5 );
		}

		.cover-spinner-container {
			position: absolute;
			width: 100%;
			text-align: center;
		}
	}

	.author-meta-holder {

		@include css-prefix( 'display', 'flex' );
		@include css-prefix( 'flex-direction', 'row' );
		width: 100%;
		z-index: 1;

		min-height: $author_image_desktop_dimension + px;
		margin-top: -($author_image_desktop_dimension/2) + px;

		@media only screen and (max-width: 1024px) {
			min-height: $author_image_mobile_dimension + px;
			margin-top: -($author_image_mobile_dimension/2) + px;
		}

		.author-profile-image-holder {
			padding: 0 16px;
			img.author-profile-image {
				@include css-prefix( 'border-radius', 50% );
				width: $author_image_desktop_dimension + px;
				height: $author_image_desktop_dimension + px;
				@media only screen and (max-width: 1024px) {
					width: $author_image_mobile_dimension + px;
					height: $author_image_mobile_dimension + px;
				}
			}
			.spinner-container {
				position: absolute;
				left: 100px;
				margin-top: -116px;
				@media only screen and (max-width: 1024px) {
					left: 60px;
                    margin-top: -72px;
                }
			}
			button.upload-image-button {
				position: absolute;
				left: 140px;
				margin-top: 140px;
				background: rgba( 255, 255, 255, 0.5 );
				height: 36px;
				width: 36px;
				@media only screen and (max-width: 1024px) {
					left: 80px;
					margin-top: 80px;
					height: 30px;
					width: 30px;
				}
			}
		}

		.author-meta {
			flex-grow: 1;
			margin-right: 16px;
			margin-top: ($author_image_desktop_dimension/2) + px;
			@media only screen and (max-width: 1024px) {
				margin-top: ($author_image_mobile_dimension/2) + px;
				margin-right: 0;
			}
			.first-line {
				height: 36px;
				padding: 8px 0;
				.author-name-desktop {
					display: inline-block;
					@media only screen and (max-width: 1024px) {
						display: none;
					}
				}
				.small-button {
					min-width: 36px;
					padding: 0;
				}
			}
		}
	}

	.author-read-count-holder {
		color: rgba(0,0,0,0.54);
	}

	.author-meta-holder-mobile {
		@media only screen and (min-width: 1025px) {
			display: none;
		}
		padding: 8px 16px;
		.author-name-mobile {
			margin-bottom: 16px;
		}
		.author-summary-mobile {
		}
	}

	.author-summary-desktop {
		@media only screen and (max-width: 1024px) {
			display: none;
		}
	}

	.author-stats-holder {
		@include css-prefix( 'display', 'flex' );
		@include css-prefix( 'flex-direction', 'row' );
		width: 100%;
		text-align: center;
		padding: 0;
		div {
			@include css-prefix( 'flex-grow', '1' );
		}
	}

}