.pratilipi-pratilipi-info {

	.mdl-card__media {
		background-color: transparent !important;
	}

	.font-16 {
		font-size: 16px;
	}

	.margin-bottom-8 {
		margin-bottom: 8px !important;
	}

	img.pratilipi-cover-image {
		width: 200px;
		height: 300px;
		@media only screen and (max-width: 479px) {
	    	width: 150px;
			height: 225px;
	  	}
	}
	
	.share-button {
	    min-width: 36px;
	    padding: 0;	
	}
	
	.pratilipi-info-variable-width {
	  	@media (max-width: 479px) {
	    	width: 100%;
	  	}	
	  	@media (min-width: 480px) {
	    	width: 50%;
	  	}	
	}

	div.image-uploaded-div {
		width: 100%; 
		height: 100%;
		.spinner-container {
			border: 1px solid #d3d3d3; 
			width: 200px; 
			height: 300px; 
			margin: auto; 
			display: flex;
			.image-uploaded-spinner {
				margin: auto;
			}
		}
	}

	button.upload-image-button {
		position: absolute;
	    right: 8px;
	    bottom: 8px;
		background: #fff;
		height: 36px;
		width: 36px;
		min-width: 36px;
    }

   	i.icon-center {
	    margin-bottom: 3px;
	}

	.summary-input-div {
		.mdl-textfield {
			padding-top: 0 !important;
			width: 100% !important;
			textarea {
				line-height: 1.5em;
			}
		}
	}
}