.carousel-indicators li { 
	visibility: hidden; 
}
.section-list .section-container {
	margin-bottom: 20px;
	.section-title {
		margin: 0;
		background: #fff;
		padding: 16px 20px;
		color: #333;
	}
}
