.pratilipi-settings-page {
	.vertical-mdl-tabs {
		background: #fff;
		.settings-grid {
			min-height: 70vh;
			.tabs-left-pane {
				border-right: 1px solid lightgrey;
				.mdl-tabs__tab-bar {
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
					height: inherit;
					border-bottom: none;
					.mdl-tabs__tab {
						width: 100%;
						padding: 16px;
						box-sizing: border-box;
						letter-spacing: 2px;
						border-bottom: 1px solid lightgrey;
						display: flex;
						align-items: center;
						height: initial;
						line-height: 1;
						border-right: 2px solid #fff;
					}
				}
			}
			.tabs-right-pane {
				flex-grow: 1;
				margin: 16px;
				.mdl-tabs__panel {
                    flex-grow: 1;
				}
				#profile-settings {
					.summary-holder {
						width: 100%;
						.mdl-textfield {
							width: 100%;
							textarea {
                                width: 100%;
                            }
						}
					}
					.private-information {
						margin-top: 30px;
					}
					.save-button-holder {
						text-align: right;
					}
				}
			}
		}
	}
	ul.dropdown-ul {
        width: 100%;
        -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
        box-shadow: 0 3px 9px rgba(0,0,0,0.5);
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 4px;
        .mdl-menu__item, .mdl-menu__item:hover {
            color: #000;
        }
    }
	i.dropdown-icon {
        position: absolute;
        right: 0px;
        bottom: 18px;
        width: 32px;
        height: 32px;
        font-size: 32px;
    }

	.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
		border-right: 2px solid $pratilipi-red;
	}

	.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
		content: inherit;
		height: 0;
	}
	.page-loading-spinner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
	}
}
