.pratilipi-navigation-aside {
	.mdl-components__nav {
		display: inline-block;
		background: #fff;
		width: 220px;
		box-sizing: border-box;
		-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		z-index: 1;
		h6 {
			margin: 0px;
			padding: 16px 0 0 16px;
			color: #D0021B;
		}
		.mdl-list {
			a.mdl-navigation__link {
				color: #333;
				text-decoration: none;
				cursor: pointer;
				display: block;
			}
			a.mdl-navigation__link:hover {
				background: #e0e0e0;
			}
		}
	}
}
