.pratilipi-pratilipi-info {

	width: 100%;

	.mdl-card__media {
		background-color: transparent !important;
	}

	.font-16 {
		font-size: 16px;
	}

	.margin-bottom-8 {
		margin-bottom: 8px !important;
	}

	.pratilipi-cover-image {
		width: 200px;
		height: 300px;
		@media only screen and (max-width: 459px) {
	    	width: 150px;
			height: 225px;
	  	}
	}

	.mdl-button-margin {
		margin-bottom: 4px;
	}

	.small-button {
	    min-width: 36px;
	    padding: 0;	
	}

	.pratilipi-cover-image-container {
		margin: 8px; 
		position: relative;
		@media (max-width: 459px) {
			margin: 8px auto;
		}
	}

	.mdl-card__title {
		padding: 0 !important;
		margin-bottom: 4px;
		@media (max-width: 459px) {
	    	margin: auto;
	    	padding: 0!important;
	  	}
	}
	.pratilipi-title, .author-name {
		margin: 0; 
		color: #000;
		@media (max-width: 459px) {
	    	margin: auto;
	    	padding: 0;
	  	}
	}

	.pratilipi-info-variable-width {
		flex-grow: 1;
		margin: 8px;
		@media (max-width: 459px) {
			text-align: center;
	    	width: 100%;
	  	}	
	  	@media (min-width: 460px) {
	    	width: 50%;
	  	}	
	}

	.mdl-card__supporting-text {
		margin: 8px 0;
		padding: 0;
		width: 100%;
		@media (max-width: 459px) {
	    	margin: 4px auto;
	    	padding: 0;
	  	}
	}
	
	.author-summary {
		color: rgba( 0,0,0,0.54 );
	}
	

	div.image-uploaded-div {
		.spinner-container {
			margin: auto; 
			display: flex;
			.image-uploaded-spinner {
				margin: auto;
			}
		}
	}

	button.upload-image-button {
		position: absolute;
	    right: 8px;
	    bottom: 8px;
		background: rgba( 255, 255, 255, 0.5 );
		height: 36px;
		width: 36px;
		min-width: 36px;
    }
    
    .button-holders {
    	@media (min-width: 460px) {
			padding: 0;
			margin: 0;
			height: initial;
			display: flex;
			min-height: initial;
			align-items: flex-end;
    	}
    }

   	i.icon-center {
	    margin-bottom: 3px;
	}

	.summary-input-div {
		.mdl-textfield {
			padding-top: 0 !important;
			width: 100% !important;
			textarea {
				line-height: 1.5em;
			}
		}
	}
}