pratilipi-review {	
	.reply:before {
	    content: "\002022";
	}	

	.review-text {
		font-size: 14px !important;
		line-height: 1.3 !important;
	}
	.font-14 {
		font-size: 14px !important;
	}
	a.reviewer-name	{
		text-decoration: none;
		color: black;
	}
	.viewAllReplies:before {
		content: "\002022";
		margin-right: 5px;
	}
	ul.sub-review {
		border-left: 2px solid grey;
	}
	.left-padding {
	  padding: 0 0 0 30px;
	}
	
}