.pratilipi-event-page {
	.mdl-card.image-holder {
		margin-bottom: 0;
		border-radius: 1px 1px 0 0;
		img {
			max-width: 100%;
			width: 100%;
		}
	}
	.mdl-card.description-holder {
		margin-top: 0;
		margin-bottom: 0;
		border-top: none;
		border-radius: 0;
		padding: 16px 12px;
    }
    .event-title-holder {
		margin-bottom: 12px;
        div {
            display: inline-block;
        }
    }
    .event-entries {
		margin-top: 0;
        border-top: none;
        border-radius: 0 0 1px 1px;
    }
}
