.pratilipi-notifications-page {
	width: 100%;
	min-height: initial;
	.notifications-header {
		padding: 20px 24px;
		.notification-heading {
			margin: 0;
			color: #000;
			line-height: 32px;
		}
	}
}