.pratilipi-header {
	min-height: 52px !important;
	overflow: visible;
	background-color: white;
	.material-icons {
		color: #333 !important;
	}
	.mdl-layout--small-screen-only {
		display: none!important;
	}

	.row-one {
		position: relative;
		height: 52px;
		padding: 0 8px;
		span.pratilipi-text {
			color: #000;
			margin-left: 6px;
			font-weight: 700;
			white-space: nowrap;
		}
		button#pratilipi-header-pratilipi-dropdown {
			margin-right: 4px;
			.material-icons {
				color: #000!important
			}
		}
		ul.language-ul {
			a {
				color: #333 !important;
			}
		}
		div.menu-icon-holder {
			@media only screen and (min-width: 768px) {
				flex-basis: 32px !important;
			}
			@media only screen and (min-width: 1025px) {
				display: none;
			}
		}
		.search-bar-holder {
			flex-grow: 1;
			form {
				width: 100%;
				.mdl-textfield__label {
					font-size: 12px !important;
				}
				.mdl-textfield {
					width: 100%;
					color: #333 !important;
					.search.material-icons {
						position: absolute;
						right: 0;
						cursor: pointer;
						bottom: 22px;
						background: white;
					}
				}
			}
		}
		.header-icons-holder {
			flex-basis: 48px;
			text-align: center;
			.material-icons {
				cursor: pointer;
			}
		}
		.desktop-signin-button-holder {
			@media only screen and (min-width: 1200px) {
				flex-basis: 160px;
			}
			a.sign-in-button {
				background: #107fe5!important;
				.material-icons {
					margin-right: 8px;
					width: 24px;
					min-width: 24px;
					color: #fff !important;
				}
				span {
					color: #fff !important;
				}
			}
			a.user-profile {
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 160px;
				display: block;
				overflow: hidden;
				color: #333 !important;
				span {
					margin-left: 4px;
				}
			}
		}
		img.user-dp {
			width: 36px;
			height: 36px;
		}

		.user-loading-spinner.mdl-spinner {
			width: 20px;
			height: 20px;
		}
		.user-loading-spinner.mdl-spinner--single-color .mdl-spinner__layer-1,
		.user-loading-spinner.mdl-spinner--single-color .mdl-spinner__layer-2,
		.user-loading-spinner.mdl-spinner--single-color .mdl-spinner__layer-3,
		.user-loading-spinner.mdl-spinner--single-color .mdl-spinner__layer-4 {
			.mdl-spinner__circle {
				border-width: 2px !important;
			}
		}

	} /* End of row-one */

	@media only screen and (max-width: 767px) {
		.row-one {
			.header-icons-holder {
				flex: 1;
				text-align: center;
			}
		}
	}

	.row-two {
		position: relative;
		color: #333 !important;
		height: 48px;
		padding: 0 8px;
		span.pratilipi-text {
			color: #d0021b;
			font-size: 14px;
			font-weight: 700;
			white-space: nowrap;
		}
		button#pratilipi-header-pratilipi-dropdown-mobile {
			margin-right: 4px;
			.material-icons {
				color: #d0021b!important
			}
		}
		form {
			.mdl-textfield__label {
				font-size: 12px !important;
			}
			flex-grow: 1;
			.mdl-textfield {
				width: 100%;
				color: #333 !important;
				.search.material-icons {
					position: absolute;
					right: 0;
					cursor: pointer;
					bottom: 22px;
					background: white;
				}
			}
		}
	}

	#notificationContainer:before {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		color: transparent;
		border: 10px solid black;
		border-color: transparent transparent #d3d3d3;
		margin-top: -20px;
		margin-left: 362px;
		display: none;
	}
	#notificationContainer {
		@media only screen and (max-width: 767px) {
			display: none !important;
		}
		* {
			color: #555;
		}
		background-color: #fff;
		overflow: visible;
		position: absolute;
		top: 54px;
		margin-left: -348px;
		min-width: 400px;
		width: 400px;
		display: none;
		text-align: center;
		border-radius: 2px;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 1px;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);

		#notificationTitle {
			z-index: 1000;
			font-weight: bold;
			padding: 8px;
			font-size: 13px;
			background-color: #ffffff;
			border-bottom: 1px solid rgba(0,0,0,.12);
			display: none;
		}

		#notificationsBody {
			padding: 0px !important;
			min-height: 50px;
			max-height: 70vh;
			height: auto;
			overflow-x: hidden;
			overflow-y: scroll;
			margin-bottom: -1px;
		}

		#notificationFooter {
			background-color: #fff;
			text-align: center;
			display: block;
			padding: 10px 8px;
			border-top: 1px solid #d3d3d3;
			position: relative;
    		a {
				font-weight: bold;
			    font-size: 15px;
			    font-weight: 700;
			    color: $pratilipi-red;
			}
		}
	}
}