.pratilipi-pratilipi-info {

	.mdl-card__media {
		background-color: transparent !important;
	}

	.font-16 {
		font-size: 16px;
	}

	.margin-bottom-8 {
		margin-bottom: 8px !important;
	}

	button.upload-image-button {
		position: absolute;
		margin-top: 248px;
		margin-left: -48px;
		background: #fff;
		height: 36px;
		width: 36px;
		min-width: 36px;
		@media only screen and (max-width: 480px) {
			margin-top: 176px;
		}
    }
}