.pratilipi-notifications-page {
	width: 100%;
	border-radius: 6px;
	min-height: initial;
	.notifications-header {
		padding: 16px;
		.notification-heading {
			margin: 0;
			color: #000;
			line-height: 32px;
		}
	}
}