.pratilipi-review-list {
	li.show-more {
		list-style-type: none;
	}
	.write-review-button {
	  	@media (max-width: 480px) {
	    	float: left !important;
	    	margin-top: 5px;
	  	}		
	}
	.review-not-present {
		font-size: 22px;
    	line-height: 1.5em;
	}	
}
