.pratilipi-review-list {
	width: 100%;
}

.pratilipi-review-list {
	dialog {
		position: fixed !important;
  		top: 50% !important;
  		transform: translate(0, -50%);
	}
	li.show-more {
		list-style-type: none;
	}
	.write-review-button {
	  	@media (max-width: 480px) {
	    	float: left !important;
	    	margin-top: 5px;
	  	}		
	}	
}
