.pratilipi-review-comment {	
	.comment-header {
		@include css-prefix( 'display', 'flex' );
		@include css-prefix( 'flex-direction', 'row' );
		padding: 0;
		.user-info {
			flex-grow: 1;
			@include css-prefix( 'display', 'flex' );
			a.commentor-name	{
				text-decoration: none;
				color: #000 !important;
			}
			.comment-date {
				color: rgba(0,0,0,0.54);
				display: block;
				margin-top: 2px;
			}
		}
	}
	.comment-container {
		padding: 16px 0 8px 0;
	}
	.comment-footer {
		.separator:before {
			content: "\002022";
		}
		.like-holder {
			margin-right: 4px;
		}
		.comment-holder {
			margin-left: 4px;
			margin-right: 4px;
		}
	}
}
