.pratilipi-review {	
	.review-header {
		@include css-prefix( 'display', 'flex' );
		@include css-prefix( 'flex-direction', 'row' );
		padding: 0;
		.user-rating {
			align-self: center;
		}
	}
	.user-info { // Used in adding comment
		flex-grow: 1;
		@include css-prefix( 'display', 'flex' );
		a.reviewer-name	{
			text-decoration: none;
			color: #000 !important;
		}
		.review-date {
			display: block;
			margin-top: 8px;
		}
	}
	.review-container {
		padding: 16px 0 8px 0;
	}
	.review-footer {
		.font-14 * {
			font-size: 14px !important;
		}
		.separator:before {
			content: "\002022";
		}
		.like-holder {
			margin-right: 4px;
		}
		.comment-holder {
			margin-left: 4px;
			margin-right: 4px;
		}
		.view-comments-holder {
			margin-left: 4px;
		}
	}
	.pratilipi-comment-list {
		margin-left: 4px;
		border-left: 2px solid grey;
		ul.comment-list-ul {
			padding: 0;
			.mdl-textfield {
				width: 100%;
				line-height: 1.5em;
			}
			li {
				overflow: visible;
			}
		}
	}
}