.sprites-icon {
	display: inline-block;
	vertical-align: middle;
	background-size: 160px 110px;
	background-image: url( ../../pwa-images/NewSprite.png );
}

.sprites-icon-size-24 {
	width: 24px;
	height: 24px;
}

.google-plus-icon {
	background-position: 0px 0px;
}

.facebook-icon {
	background-position: -24px 0px;
}

.twitter-icon {
	background-position: -48px 0px;
}

.linkedin-icon {
	background-position: -72px 0px;
}

.whatsapp-icon {
	background-position: 0px -24px;
}

.google-play-icon {
	width: 150px;
    height: 56px;
    background-position: -10px -52px;
}