<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <servlet>
    <servlet-name>ClaymusService</servlet-name>
    <servlet-class>com.claymus.service.server.ClaymusServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaymusService</servlet-name>
    <url-pattern>/service.claymus</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PratilipiService</servlet-name>
    <servlet-class>com.pratilipi.service.server.PratilipiServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PratilipiService</servlet-name>
    <url-pattern>/service.pratilipi</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resource.book-cover/*</url-pattern>
  </servlet-mapping>
   
   
  <!-- Handlers for Task Queues -->
  
  <servlet>
    <servlet-name>QueueInviteUserServlet</servlet-name>
    <servlet-class>com.claymus.servlet.QueueInviteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueInviteUserServlet</servlet-name>
    <url-pattern>/_ah/queue/invite-user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueueWelcomeUserServlet</servlet-name>
    <servlet-class>com.claymus.servlet.QueueWelcomeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueWelcomeUserServlet</servlet-name>
    <url-pattern>/_ah/queue/welcome-user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueuePasswordResetServlet</servlet-name>
    <servlet-class>com.claymus.servlet.QueuePasswordResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueuePasswordResetServlet</servlet-name>
    <url-pattern>/_ah/queue/reset-password</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>PratilipiMain</servlet-name>
    <servlet-class>com.pratilipi.servlet.PratilipiMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PratilipiMain</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
   
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/_ah/queue/*</url-pattern>
      <url-pattern>/service.upload/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
    
</web-app>
