<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <servlet>
    <servlet-name>PratilipiService</servlet-name>
    <servlet-class>com.pratilipi.service.server.PratilipiServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PratilipiService</servlet-name>
    <url-pattern>/pratilipiservice</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.ResourceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resource/book-cover/*</url-pattern>
  </servlet-mapping>
   

  <servlet>
    <servlet-name>PratilipiMain</servlet-name>
    <servlet-class>com.pratilipi.servlet.PratilipiMain</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PratilipiMain</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
   
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/manage/languages/*</url-pattern>
      <url-pattern>/manage/authors/*</url-pattern>
      <url-pattern>/manage/books/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
    
</web-app>
