<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Filters -->

  <filter>
    <filter-name>RemoteAPIFilter</filter-name>
    <filter-class>com.pratilipi.servlet.RemoteAPIFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RemoteAPIFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>PratilipiFilter</filter-name>
    <filter-class>com.pratilipi.servlet.PratilipiFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PratilipiFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ClaymusFilter</filter-name>
    <filter-class>com.claymus.servlet.ClaymusFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClaymusFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>UxModeFilter</filter-name>
    <filter-class>com.pratilipi.servlet.UxModeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UxModeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Handlers for Services -->

  <servlet>
    <servlet-name>PratilipiServiceGwt</servlet-name>
    <servlet-class>com.pratilipi.service.server.PratilipiServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PratilipiServiceGwt</servlet-name>
    <url-pattern>/service.pratilipi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ClaymusService</servlet-name>
    <servlet-class>com.claymus.service.server.ClaymusServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaymusService</servlet-name>
    <url-pattern>/service.claymus</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SiteMap</servlet-name>
    <servlet-class>com.claymus.servlet.SiteMapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteMap</servlet-name>
    <url-pattern>/service.sitemap</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RobotsTxt</servlet-name>
    <servlet-class>com.pratilipi.servlet.RobotsTxtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RobotsTxt</servlet-name>
    <url-pattern>/service.robots</url-pattern>
  </servlet-mapping>

  <!-- Handlers for API -->
  
  <servlet>
    <servlet-name>AuthApi</servlet-name>
    <servlet-class>com.pratilipi.api.AuthApi</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthApi</servlet-name>
    <url-pattern>/api.pratilipi/oauth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PratilipiApi</servlet-name>
    <servlet-class>com.pratilipi.api.PratilipiApi</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PratilipiApi</servlet-name>
    <url-pattern>/api.pratilipi/pratilipi/content</url-pattern>
  </servlet-mapping>

  <!-- Handlers for Uploading and Serving Website Resources -->

  <servlet>
    <servlet-name>ResourcePratilipiCoverServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.ResourcePratilipiCoverServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourcePratilipiCoverServlet</servlet-name>
    <url-pattern>/resource.pratilipi-cover/original/*</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>ResourcePratilipiCover300Servlet</servlet-name>
    <servlet-class>com.claymus.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>ResourceServletType</param-name>
      <param-value>DOWNLOAD_ONLY</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourcePratilipiCover300Servlet</servlet-name>
    <url-pattern>/resource.pratilipi-cover/300/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResourceAuthorImageServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.ResourceAuthorImageServlet</servlet-class>
    <init-param>
      <param-name>ResizeImage</param-name>
      <param-value>300</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceAuthorImageServlet</servlet-name>
    <url-pattern>/resource.author-image/original/*</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>ResourceImageContentServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.ResourceImageContentServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceImageContentServlet</servlet-name>
    <url-pattern>/resource.pratilipi-content/image/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ResourceWordContentServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.ResourceWordContentServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceWordContentServlet</servlet-name>
    <url-pattern>/resource.pratilipi-content/word/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ResourcePdfContentServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.ResourcePdfContentServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourcePdfContentServlet</servlet-name>
    <url-pattern>/resource.pratilipi-content/pdf/*</url-pattern>
  </servlet-mapping>
  
  <!-- Handlers for Task Queues -->
  
  <servlet>
    <servlet-name>QueueInviteUserServlet</servlet-name>
    <servlet-class>com.claymus.servlet.QueueInviteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueInviteUserServlet</servlet-name>
    <url-pattern>/_ah/queue/invite-user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueueWelcomeUserServlet</servlet-name>
    <servlet-class>com.claymus.servlet.QueueWelcomeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueWelcomeUserServlet</servlet-name>
    <url-pattern>/_ah/queue/welcome-user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueuePasswordResetServlet</servlet-name>
    <servlet-class>com.claymus.servlet.QueuePasswordResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueuePasswordResetServlet</servlet-name>
    <url-pattern>/_ah/queue/reset-password</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueueCreateOrUpdateDefaultCoverServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.QueueCreateOrUpdateDefaultCoverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueCreateOrUpdateDefaultCoverServlet</servlet-name>
    <url-pattern>/_ah/queue/create-or-update-default-cover</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueueHtmlToPratilipiServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.QueueHtmlToPratilipiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueHtmlToPratilipiServlet</servlet-name>
    <url-pattern>/_ah/queue/html-to-pratilipi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueueWordToPratilipiServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.QueueWordToPratilipiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueWordToPratilipiServlet</servlet-name>
    <url-pattern>/_ah/queue/word-to-pratilipi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueueUpdatePratilipiIndexServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.QueueUpdatePratilipiIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueUpdatePratilipiIndexServlet</servlet-name>
    <url-pattern>/_ah/queue/update-index-pratilipi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueueUpdateAuthorIndexServlet</servlet-name>
    <servlet-class>com.pratilipi.servlet.QueueUpdateAuthorIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueUpdateAuthorIndexServlet</servlet-name>
    <url-pattern>/_ah/queue/update-index-author</url-pattern>
  </servlet-mapping>

  <!-- Main Claymus Handler -->

  <servlet>
    <servlet-name>PratilipiMain</servlet-name>
    <servlet-class>com.pratilipi.servlet.PratilipiMain</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PratilipiMain</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!-- Security Constraints -->
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/_ah/queue/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
    
</web-app>
