<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<filter>
		<filter-name>PratilipiSiteFilter</filter-name>
		<filter-class>com.pratilipi.site.PratilipiSiteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PratilipiSiteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>UxModeFilter</filter-name>
		<filter-class>com.pratilipi.site.UxModeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UxModeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AccessTokenFilter</filter-name>
		<filter-class>com.pratilipi.site.AccessTokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessTokenFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<servlet>
		<servlet-name>PratilipiApi</servlet-name>
		<servlet-class>com.pratilipi.site.PratilipiApi</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>Prefix</param-name>
			<param-value>/api</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PratilipiApi</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PratilipiSite</servlet-name>
		<servlet-class>com.pratilipi.site.PratilipiSite</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PratilipiSite</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
